name: CI
on:
  push:
    branches: [master]
jobs:
  build:
    name: Build

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [12.x, 14.x, 16.x]
        os: [windows-latest, ubuntu-latest]
        include:
          - os: ubuntu-latest
            node: 16.x
            upload: true

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies ( clean )
        run: npm install --ignore-scripts

      - name: Build
        run: npm run build --if-present

      - name: Upload Artifacts
        if: matrix.upload
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist

  publish:
    name: Publish to npm
    runs-on: ubuntu-latest
    needs: [build]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download build artifact
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      
      - run: |
              ls
              cat /home/runner/work/_temp/.npmrc

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          registry-url: https://registry.npmjs.org/

      - name: Install
        run: npm install --ignore-scripts

      - name: Semantic Release
        run: npm run semantic-release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
